<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Book</a>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <td>Actions</td>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.iSBN}"></td>
     <td>
         <a th:href="@{/update/{id}(id=${book.id})}">Update</a> -
         <a th:href="@{/detail/{id}(id=${book.id})">Detail</a> -
         <a th:href="@{/delete/{id}(id=${book.id})">Delete</a>
     </td></tr>
</table>
</body>
</html>